.togg-btn {
    float: right !important;
}

.btn-login:hover {
    font-weight: bold;
    border: 2px solid #6504b5;
    color: #6504b5;
    background: transparent;
}

.btn-login {
    border: 2px solid #6504b5;
    background: #6504b5;
    color: #fff;
}

.btn-link {
    text-decoration: none;
    color: #6504b5 !important;
}
