.flex-centar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: #EFEDF1;
}

.centar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: white;
}

.font-gogle {
    font-family: 'Pacifico', cursive;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #7A05B6;
    font-size: 30px;

}

.navbar-default {
    background: white;
    border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand {
    margin: auto 10px;
}

.navbar-default .navbar-nav > li > a {
    font-size: 15px;

    font-family: 'Maven Pro', sans-serif;
    color: #504652;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #7A05B6;
}

.navbar-nav li a {
    padding: 20px;
    cursor: pointer;
}

.navbar-nav {
    margin: 0px;
}

.navbar {
    margin-bottom: 0;
}

.fa-search {
    color: #504652;
    font-size: 20px;
}

.resources {
    margin: 10px auto;
    padding: 8px;
    color: #7A05B6;
    font-size: 15px;
    word-spacing: 1px;
    background: transparent;
    font-family: 'Maven Pro', sans-serif;

}

.resources:focus {
    color: #7A05B6;
}

.resources:hover {
    color: #7A05B6;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

.navbar {
    border-radius: none;
    padding: 0px
}

.navbar .navbar-right {
    height: 100%;
    padding: 0;
}

.border-left {
    border-left: 1px solid black;
}

.login_register {
    color: #504652;
    background: transparent;
    font-size: 15px;
    padding: 20px;
    border-left: 1px solid #d4cdd7;
    border-radius: 0;
    height: 100%;
    font-family: Nexa Bold, arial, helvetica, sans-serif;

}

.login_register:hover {
    color: #7A05B6;
}

.affter-navbar {

    background: #7A05B6;
    width: 100%;
    position: absolute;
    top: 62px;
    z-index: 150;

}

.content {
    margin: 0;
    background-image: url('https://d17fnq9dkz9hgj.cloudfront.net/uploads/2017/06/why-are-dogs-scared-of-firework-header.jpg');
    height: 450px;
    letter-spacing: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Rokkitt', serif;

}

.content a {
    padding: 10px 30px 10px 30px;
    border: 2px solid white;
    font-family: 'Maven Pro', sans-serif;

}

.content p {
    font-weight: inherit;
    font-size: 13px;
    font-family: 'Maven Pro', sans-serif;
}

.content a:active, .content a:focus, .content a:hover {
    color: white;
    text-decoration: none;
}

.search {
    height:16.12vh;
    margin-top: -60px;


}

.findpet {

    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.button {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #6504b5;
    color: white;
    border-radius: 0;
    border-left: 1px solid #2e0152;
    cursor: pointer;

}

.pet-search {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    border-radius: 0;
    border-left: 1px solid #2e0152;
    cursor: pointer;
}

.button:hover {
    background: #2e0152;
    color: white;
}

.findAPetMenu-locationInputContainer:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0.8%;
    border-left: 20px solid #2e0152;
    border-top: 49px solid transparent;
    border-bottom: 49px solid transparent;
}

.last {
    background: #2e0152;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 0 10px 10px 0;
}

.last:hover {
    color: white;
}

.first {
    background: #2e0152;
    height: 100%;
    width: 100%;
    color: white;
    border-radius: 10px 0px 0px 10px;
}

.first:hover {
    color: white;
}

.learn_more {
    border-radius: 35px;
    border: 2px solid white;
    font-weight: bold;
    color: white;
}

#icon-cat {
    width: 70px;

}

#icon-dog {
    width: 70px;

}

#dog {
    width: 50px;
}

.dropdown-item {

    padding: 0 !important;
    text-decoration: none;

}

.dropdown-item p {
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;

}

.logOut:active .logOut:focus {
    background-color: transparent !important;
}

.log_out {
    background-color: #6504b5;
    border-radius: 20px;
}

#dog_search {
    width: 60px;
}

#type_pet {
    background: transparent;
    border: none;
    color: white;
}

#type_pet option {
    color: #1b1e21;

}

@media only screen and (max-width: 600px) {
    .search{
        height: auto;
    }
}