.modal-open .modal {
    background: #2e0152;

}

.modal.in .modal-dialog {
    margin: auto;
}

.modal-dialog {
    width: 900px;
    padding: 0;
}

.modal-content {
    /*height: 44em;*/
    /*width: 100%;*/
    /*border: none;*/
    background: transparent;

}

#Login_Modal_Header {
    font-family: 'Rokkitt', serif;
}

#RegisterNow {
    padding-left: 0px !important;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    width: 100%;
    z-index: 20;
    border-radius: 10px;
    border: none;
}

.log {
    height: 44em;
    width: 100%;
    border-radius: 30px;
    background: #2e0152;
}

.left {
    width: 50%;
    float: left;
    background: white;
    height: 100%;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right {
    width: 50%;
    float: left;
    height: 100%;
    margin: 0;
    background: #7800B5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-content {
    padding: 110px 60px 60px;

}

.bulletList {
    font-size: 15px;
    line-height: 2.5em;

}

.bulletList .color-white {
    padding-left: 20px;
    margin-left: 0;
}

#Login_Modal_Secondary_Content_Header {
    font-size: 30px;
}

#close {
    color: #7800B5;
    font-size: 40px;
    opacity: 1;
    border-radius: 20px;
}

#close {
    outline: none;
}

.modal-header {
    border: none;
}

.modal-body {

    padding: 40px;
}

#Login_Modal_Header {
    margin-bottom: 40px;
}

.log_in {
    height: 4em;

}

.register {
    border: none;
}

.log_in:hover {
    border: 1px solid #7800B5;
}

.log_in_button {
    margin-top: 20px;
    background: #7800B5;
    height: 3.5em;
    border-radius: 30px;
    font-family: 'Rokkitt', serif;
    color: white;

}

.log_in_button:hover {
    background: #2e0152;
    color: white;

}

.modal-footer {
    padding: 40px;
}

.registration {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: red;
}

.p-2 {
    /*margin-left: 80px;*/
    padding-left: 50px;
    padding-right: 50px;
}

.m-1 {
    margin: 1em 0;
}

.select {
    height: 3.5em;
    padding: 0;
    margin: 0;
}

.register-input {
    padding: 1em 4em 1em 1em;
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    width: 100%;
    outline-color: #301552;

}

.register-input:focus, register-input:hover {
    box-shadow: none;
    outline-style: none;
    border-color: #301552;

}

.checkbox-input {
    width: 20px;
    height: 20px;
    border: 2px solid #d2d1d3;
    border-radius: 50%;
    outline-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-input:checked {
    background-color: #301552;
    border-color: transparent;
}

.checkbox-input:focus, .checkbox-input:active, .checkbox-input:checked {
    outline: none !important;
    text-decoration: none;
}

.checkbox-input:before {
    content: url('https://www.petfinder.com/assets/www/media/svgs/ui/icon-check_colorWhite.svg');
    height: 20px;
    width: 20px;
}

.submit-input, .submit-input:hover {
    background-color: #301552;
    color: white;
    border-radius: 15px;
    outline-color: white;
    font-family: 'Rokkitt', serif;
}

#registration_close {
    color: #7800B5;
    font-size: 40px;
    opacity: 1;
    border-radius: 20px;
    outline: none;
}

/* !!! GENERAL !!! */

