
.search_pat {
    background-color: #6504b5;
    height: 60px;
}

.type_animal select {
    height: 60px;
    width: 80px;
    background-color: transparent;
    border: none;
    color: white;

}

.type_animal select option {
    color: black;
    height: 50px;
}

.dog {
    float: left;
}

.type_animal_filter {
    float: left;

}

.type_animal_filter select {
    height: 60px;
}

option {
    height: 60px;
}

.slick-center .slide-h3 {
    color: #FFF;
}

.slider {
    width: 95%;
    height: 150px;
    margin: 20px auto;
    text-align: center;
}

.slick-prev,
.slick-next {

}

.slide-h3 {
    /*margin: 10% 0 10% 0;*/
    padding: 40% 20%;
    background: #008ed6;
}

.slider div {
    /*margin-right: 5px;*/
}

.slick-slide {
    opacity: .6;
}

.slick-center {
    display: block;
    max-width: 10% !important;
    max-height: 20% !important;
    opacity: 1;

}
