/* !!! GENERAL !!! */

.color-primary {
    color: #6504b5;
}

.background-primary {
    background-color: #6504b5;
}

.background-white {
    background-color: #fff;
}

.color-white {
    color: #fff;
}

.pading-margin {
    margin: 0;
    padding: 0;
}


.gray-background {
    background-color: #efeef1;
    padding-top: 3%;
    padding-bottom: 2%;
}

.custom-container {
    margin-left: 3%;
    margin-right: 3%;
}




/* !!! PET CARDS  !!! */

.card-title {
    color: #4d4751;
    margin-bottom: 3%;
}

.card-body {
    height: 50vh;
    width: 100%;
}

/*main card image view*/
.card-body img {
    display: block;
    height: 85%;
    width: 100%;
    object-fit: cover;
}

/*hover card image view*/
.circle-img img {
    display: block;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 0 auto;
}

.overlay-hover {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .2s ease;
    z-index: 2;
}

.overlay-hover:hover .overlayBottom {
    height: 100%;
}

.circle-img-text {
    padding-top: 5%;
}

.circle-img {
    padding-top: 7%;
}

/*hovered card button circle*/
.circle-for-click-open, .circle-for-click-close {
    outline: none;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 6%;
    right: 18%;
    z-index: 2;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: 0 0 4px #c8cbcf;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.circle-for-click-open-img {
    background-image: url("/43817074_479928655826394_8040238980668588032_n.png");
    background-color: #fff;
}

.circle-for-click-open-img:hover {
    background-image: url("/43585292_1925643217732277_8605462642531762176_n.png");
    background-color: #6504b5;
}

.circle-for-click-close {
    color: #fff;
    font-size: 1.2em;
    background-color: #2e0152;
    box-shadow: none;
}

.circle-for-click-close:hover {
    color: #fff;
    background-color: #3c016d;
    box-shadow: none;
}

.circle-for-click-open:focus, .circle-for-click-close:focus {
    outline: none;
}

/* top-border radius on card-footer */
.card-footer-border {
    content: "";
    display: block;
    height: 18px;
    border-radius: 50% 50% 0 0;
    z-index: 1;
    position: absolute;
    bottom: 11vh;
    right: -5px;
    left: -5px;
}

.card-footer {
    height: 12vh;
    border-color: #fff;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: -5px;
    left: -5px;
}

.theme-card-body {
    height: 50vh;
    padding: 2%;
}

.theme-card-p {
    padding-top: 17%;
    position: absolute;
    bottom: 12vh;
}

.theme-card-footer {
    height: 12vh;
    border-top: 1px solid #2e0152;
}

/*paw icon*/
.fa-paw {
    position: absolute;
    bottom: 30vh;
    right: -5px;
    left: -5px;
}


.flickity-page-dots .dot{
    width: 8px!important;
    height: 10px !important;
}
.theme-card:hover > .theme-card-footer {
    background-color: #2e0162;
}

a:hover {
    text-decoration: none;
}

/*last card view*/
.social-links-icon:not(:first-of-type) {
    border: 2px solid #fff;
}

.social-links-icon, .social-link-selected {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3%;
}

.social-link-selected {
    background-color: #2e0152;
    box-shadow: inset 0 0 0 2px #fff, 0 0 0 2px #20ccf8;
}

.social-links-icon:not(:first-of-type):hover {
    box-shadow: inset 0 0 0 transparent, 0 0 0 2px #2e0152;
    background-color: #2e0152;
}

.icon-social {
    width: 20px;
    height: 20px;
}

.second-one {
    display: none;
    margin-bottom: 20px;
}





/*PLANNING TO ADOPT*/

.adopt-img {
    background-image: url("/43640544_172145960384532_3539566334855610368_n.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 28%;
}


/*phone and tablet view*/
.card-title-adopt {
    padding: 5%;
    background-color: #fff;
    margin: 0;
    border: 0;
    color: #4d4751;
}

.adopt-text {
    color: #004c81;
    font-size: 20px;
    margin-bottom: 2%;
}

.adopt-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #4d4751;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.btn-adopt {
    border: 2px solid #20ccf8;
    border-radius: 20px;
    padding: 2.5% 14%;
    color: #004c81;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
}

.btn-adopt:hover {
    background-color: #20ccf8;
    color: #fff;
}

.adopt-container {
    padding-left: 4%;
    padding-right: 4%;
}


/* !!! ADOPT SECTION (carousel view for phone and tablet) !!! */

.carousel-adopt {
    background: #fff !important;
    height: 250px;
    margin-bottom: 50px;
}

.carousel-cell-adopt {
    width: 100%;
}

.carousel-adopt .flickity-button {
    background: transparent;
}

.carousel-adopt .flickity-prev-next-button {
    width: 50px;
    height: 80px;
}

.carousel-adopt .flickity-button-icon {
    color: #4d4751;
}

.btn-adopt-xs {
    background-color: #fff;
    color: #004c81;
    overflow: hidden;
    box-sizing: border-box;
    flex-basis: 0;
    flex-grow: 1;
    min-height: 55px;
    padding: 16px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #20ccf8;
}

.btn-adopt-xs:hover>a, .btn-adopt-xs:hover {
    background-color: #20ccf8;
    color: #fff !important;
}

.carousel-adopt .flickity-page-dots {
    bottom: -40px !important;
}


@media only screen and (max-width: 768px) {

    .adopt-description {
        padding-bottom: 1%;
    }

    .flex-centar {
        box-shadow: 0 1px 3px rgba(77,71,81,.2);
        height: 255px;
    }
}


    /*FOOTER*/
.footer {
    margin-top: 30px;
    height: 100vh;
    background-color: #353535;
}

.top-footer-section {
    padding: 3%;
}

.top-footer-section img {
    width: 5%;
    height: auto;
}

.footer-text {
    font-weight: 600;
    line-height: 1.3;
    word-spacing: 2px;
}

.footer-color {
    color: #e2e3e5;
}

.footer-color a {
    color: #e2e3e5;
}

.footer-color a:hover {
    color: #fff;
}

.footer-text-position {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
}

.different-footer-text-red {
    color: #e9605c;
}

.footer-icon {
    margin-right: 1%;
    margin-left: 1%;
}

.cards {
    overflow: hidden;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #6504b5;
    background-clip: border-box;

}



.card-body {
    height: 57vh;
}

.adopt-img {
    margin-top: 30px 0;

}

.card-custom {
    border-radius: 15px;
    overflow: hidden;
    margin: 0 5%;
    height: 55vh;
    background-color: white;
}

.available_pets {
    background-color: #6504b5;
}

#search_type {
    background: transparent;
    color: white;
    border: none;
}

#search_type option {
    color: #1b1e21;
}
.pet_cards_row{
    min-height: 300px;
    margin-bottom: 30px;
}
.edit_pet{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.delete{
    background-color: #6504b5;
    color: white;
    margin-right: 10px;
}
.delete:hover{
    color: white;
    background-color: #2e0152;
}
.update{
    background-color: #6504b5;
    color: white;
}
.update:hover{
    color: white;
    background-color: #2e0152;
}

.custom-select{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    padding: 0 50px 0 16px;
    border: 1px solid #d2d1d3;
    border-radius: 5px;
    background-color: #fff;
    color: #4d4751;
    cursor: pointer;
    font-size: 16px;
    text-align: left;


}
.custom-select-parent{
    position: absolute;
    background-color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    overflow-scrolling: touch;
    z-index: 200;
    left: 0;
    width: 100%;
    top: 50px;
    display: none;
}

.custom-select-option{
    padding: 1em 0;

}
.custom-select-option:hover{
    cursor: pointer;
    background-color: #2e0152;
    color: white;
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}
.bubble_pet{
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #2e0152;
    border-radius: 10px;
    border : 2px solid white;
    margin: 5px;
}



/* !!! PET DESCRIPTION (pet-profile) !!! */

.pet-description-border {
    border-radius: 15px;
    padding: 1% 2%;
}

.pet-description {
    background-color: white;
    position: relative;
}

.side-fixed {
    padding-left: 2%;
    position: fixed;
    right: 0;
}

.card-fixed-side {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(77,71,81,.2);
    background-color: #6504b5;
}

.share-fixed {
    display: flex;
    align-items: stretch;
    border-top: 1px solid #2e0152;
    width: 100%;
}

.half {
    width: 50%;
}

.btn-share-fixed {
    background: transparent;
    box-sizing: border-box;
    flex-grow: 1;
    min-height: 55px;
    padding: 10px 18px;
    font-size: 14px;
    cursor: pointer;
}

.btn-share-fixed:hover {
    color: #fff;
    background-color: #2e0152;
    overflow: hidden;
}

.btn-share-fixed-border {
    border-right: 1px solid #2e0152;
}

.card-fixed-btn {
    margin: 5%;
    font-weight: 700;
    border: 2px solid #fff;
    height: 45px;
    padding: 11px 30px;
    border-radius: 23px;
    width: 90%;
}

.card-fixed-btn:hover{
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}


h1 .pet-desc-name {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 2%;
}

.pet-desc-about {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 2%;
}

.pet-desc {
    color: #2e0152;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
}

.pet-spec {
    color: #2e0152;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 5%;
}

.fa-map-marker-alt {
    font-size: 1.5em;
    padding-right: 3%;
}

.dot-desc {
    padding-right: 2%;
    padding-left: 2%;
}

.hr {
    display: block;
    border-bottom: 1px solid #d2d1d3;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*middle line for phone and tablet view in pet profile*/
.hr-middle {
    overflow: hidden;
    text-align: center;
}

.hr-middle:before,
.hr-middle:after {
    background-color: #d2d1d3;;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.hr-middle:before {
    right: 0.5em;
    margin-left: -50%;
}

.hr-middle:after {
    left: 0.5em;
    margin-right: -50%;
}

/*nav section in pet profile for phone and tablet*/
.sliding-nav {
    display: block;
    padding: 0;
    margin-bottom: 0;
    height: 54px;
    position: relative;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(77,71,81,.2);
}

.slidingNav-nav {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 54px;
    padding-left: 0;
    margin-top: 3%;
}

.sliding-nav ul {
    list-style: none;
}

.sliding-nav ul li {
    display: list-item;
}

.slidingNav-nav-item-btn {
    box-sizing: border-box;
    height: 54px;
    padding: 12px 10px 0;
    position: relative;
    font-size: 15px;
    color: #5c5560;
}

.slidingNav-shareBtn {
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    display: block;
    width: 54px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #d2d1d3;
    background-color: #fff;
    background-image: url("/43817074_479928655826394_8040238980668588032_n.png");
    text-align: center;
}

.slidingNav-nav-item-btn,
.slidingNav-nav-item-btn:after {
    display: block;
}

.description-detail {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}


.pet-about {
    font-weight: 700;
    line-height: 1.6;
    color: #4d4751;
    margin-bottom: 0;
}

.pet-about-txt {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #4d4751;
}




/* !!! CAROUSEL (pet-profile pictures) !!! */

.carousel {
    background: #222;
    margin-bottom: 2%;
}

.carousel-image {
    display: block;
    height: 400px;
    min-width: 40vw;
    max-width: 100%;
}

.carousel.is-fullscreen .carousel-image {
    min-width: 40vw;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.flickity-enabled.is-fullscreen {
    background-color: #000000 !important;
    z-index: 99999 !important;
}


.carousel-cell {
    opacity: 0.2;
}

.carousel-cell:hover {
    opacity: 0.5;
}


.carousel-cell.is-selected {
    opacity: 1;
}


.flickity-page-dots .dot {
    background-color: #6504b5 !important;
    opacity: 0.2;
}


.flickity-page-dots .dot.is-selected {
    opacity: 1;
}


@media only screen and (max-width: 768px) {

    .carousel-image {
        height: 230px;
    }

    .carousel {
        margin-bottom: 4%;
    }

}

@media only screen and (max-width: 600px) {

    .carousel-image {
        height: 200px;
    }

    .carousel {
        margin-bottom: 6%;
    }
}




/* !!! CAROUSEL (card view for phone and tablet) !!! */

.carousel-card {
    background: #efeef1 !important;
}

.carousel-cell-card {
    width: 400px;
    counter-increment: gallery-cell;
}

.carousel-card .flickity-page-dots .dot {
    height: 4px;
    width: 80px !important;
    margin: 0;
    border-radius: 0;
}



/* CHECKLIST (for pet owners) */

.checklist, .tips {
    color: #4d4751;
}


.checklist img {
    float: right;
}

.checklist h4 {
    margin-top: 50px;
}




/* TIPS (for pet owners) */

.tips img{
    max-width: 100%!important;
    margin: 5px auto 20px auto;
    width: 100%;
    height: auto;
}




