.user_profile {
    background-color: #EFEDF1;
    padding: 50px;
}

.pet_info {
    background-color: #EFEDF1;
    padding: 50px;

}

.for_me {
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;
    padding: 20px 15px 20px 20px;
    border-bottom: 2px solid #6504b5;
}

.for_pet {
    cursor: pointer;
    font-size: 15px;
    padding: 20px 15px 20px 20px;
}

.user_info {
    border-radius: 20px;
    background-color: white;
    padding: 30px;
}

.add_pet {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: #6504b5;
    color: white;
}

.add_pet:hover {
    color: white;
    background-color: #2e0152;
}

.color {
    color: #6504b5;
}

.p-1 {
    padding-left: 15px;
    padding-bottom: 20px;
}

.line {
    height: 1px;
    background-color: #D1CFD2;
    margin: 20px 0 30px 0;
}

textarea {
    border-radius: 10px;
}

.for_me {
    border-bottom: 2px solid #6504b5;
}

.for_pet {
    border-bottom: 2px solid #6504b5;
}

.p-2 a {
    text-decoration: none;
    color: #333;
}

#upload_images {
    min-height: 30vh;
    width: 100%;
    border-radius: 20px;
}

textarea {
    width: 100%;
}
